/* cv codeschool
 *
 * /sass/styles.scss - Main stylesheet
 * by Lugash!
 * created at 02/2016
 */
/* cv codeschool
  *
  * /sass/settings/_colors.scss - Global color variables
  * by Lugash!
  * created at 02/2016
  */
/* cv codeschool
  *
  * /sass/settings/_fonts.scss - Global fonts variables
  * by Lugash!
  * created at 02/2016
  */
/* sass-intro
 *
 * /sass/settings/_size.scss - Global size variables
 * by Lugash!
 * created at 04/02/2016
 */
/* sass-intro
 *
 * /sass/generic/_reset.scss - Reset styles
 * by Lugash!
 * created at 04/02/2016
 */
* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* cv codeschool
  *
  * sass/base/_elements.scss - Styles base elements
  * by Lugash!
  * created at 02/2016
  */
html {
  background: #FFFFFF;
  font: normal 62.5%/1.25 "Open sans", Helvetica, Arial, sans-serif; }

body {
  color: #575a5b; }

a {
  color: #aebdc1;
  text-decoration: none;
  transition: color .25s ease-in-out; }
  a:hover {
    color: #167385; }

.hidden {
  display: none; }

/* cv codeschool
  *
  * /sass/objects/_structure.scss - Structure elements
  * by Lugash!
  * created at 02/2016
  */
main {
  width: 100%;
  margin: 25% auto 0; }

header {
  margin: 0 auto 2rem;
  padding: .5rem; }

.main img {
  width: 100%;
  height: 100%; }

section.identity {
  width: 33.3333333333%;
  float: left; }

section.stuffs {
  width: 66.6666666667%;
  float: right;
  padding-left: 4rem; }

footer:before {
  content: " ";
  display: table;
  clear: both; }

/* cv codeschool
  *
  * /sass/components/_header.scss - Header specific styles
  * by Lugash!
  * created at 02/2016
  */
header {
  height: 5em;
  margin-right: 2em;
  background: #FFFFFF; }
  header nav ul {
    float: right;
    margin-top: 1em; }
    header nav ul li {
      display: inline-block; }
  header img {
    width: 150px;
    margin-left: 2.5em;
    margin-top: .2em;
    padding-left: 5%; }
  header a {
    font: normal 1.7rem "Open sans", Helvetica, Arial, sans-serif;
    color: #aebdc1;
    display: inline-block;
    margin: 0 0.6em;
    position: relative; }
    header a.logo::before {
      position: absolute;
      left: 15px;
      top: 8px;
      content: url(../img/fav.ico); }
  @media screen and (max-width: 500px) {
    header a {
      margin: 0 .2em; } }
  header #account {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2;
    padding: 0 2em;
    background-color: transparent;
    border: 1px solid #388745;
    border-radius: 100px;
    -webkit-transition: 0.2s ease-in-out; }
    header #account:hover {
      background-color: #388745;
      color: #FFFFFF; }

@media screen and (max-width: 700px) {
  header {
    height: 10em;
    margin-right: 0; } }

/* cv codeschool
  *
  * /sass/components/_video.scss - Identity section specific styles
  * by Lugash!
  * by Lugash!
  * created at 02/2016
  */
section.video {
  position: relative;
  padding-bottom: 27%;
  background: url("../img/bcg2.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.8; }
  section.video img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: auto;
    z-index: 5;
    opacity: 0.8; }
  section.video h3, section.video a {
    font-weight: lighter;
    font-size: 4em;
    position: relative;
    text-align: center;
    z-index: 15;
    margin-top: 0.5em;
    padding: 1em;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
  section.video h3 + h3 {
    font-size: 1.8em;
    padding: 0;
    margin-top: 0;
    margin-bottom: 1em; }
  section.video a {
    display: block;
    width: 15em;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 auto;
    padding: 0.8em 2.6em;
    background-color: #ffae1c;
    border: 1px solid #F79F00;
    border-radius: 100px;
    -webkit-transition: 0.2s ease-in-out; }
    section.video a:hover {
      background-color: #F79F00; }
  section.video p {
    padding: 0 2rem;
    font-size: 1.4rem; }

/* cv codeschool
  *
  * /sass/components/_me.scss - Identity section specific styles
  * by Lugash!
  * by Lugash!
  * created at 02/2016
  */
section.me {
  margin: 0 auto;
  width: 75%;
  font-size: 1.6rem;
  position: relative;
  padding-right: 9em;
  margin-bottom: 10em; }
  section.me h2 {
    margin: 1em;
    font-weight: lighter; }
  section.me img {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: auto;
    border: 10px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 1000px) {
    section.me img {
      position: relative;
      width: 100%; } }
  section.me p {
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: lighter; }

@media screen and (max-width: 1000px) {
  section.me {
    width: 100%;
    padding-right: 0;
    margin-bottom: 5em; } }

/* cv codeschool
  *
  * /sass/components/_learning.scss - Learning section specific styles
  *
  * by Lugash!
  * created at 02/2016
  */
section.learning {
  background-color: #F6F8F8;
  padding: 2em;
  font-size: 1.5rem;
  position: relative;
  float: left;
  clear: both; }
  section.learning h2 {
    text-align: center;
    margin: 1em;
    font-weight: lighter; }
  section.learning article {
    position: relative;
    background-color: #FFFFFF;
    float: left;
    margin: 2em 1.5%;
    padding: 2em 1em;
    text-align: center;
    width: 30%;
    min-width: 250px;
    height: 22em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px; }
    section.learning article h3 {
      margin: 0 auto 2rem;
      font: lighter 2rem "Open sans", Helvetica, Arial, sans-serif;
      color: #21abc7;
      transform: translateY(-70px);
      -webkit-transform: translateY(-70px); }
    section.learning article > p {
      font-weight: lighter;
      font-size: 1.7rem;
      transform: translateY(-70px);
      -webkit-transform: translateY(-70px); }
    section.learning article h4 {
      position: absolute;
      bottom: 1em;
      left: 2em;
      font: normal 1.7rem "Open sans", Helvetica, Arial, sans-serif;
      color: #21abc7;
      border-top: 1px solid rgba(174, 189, 193, 0.5); }
  @media screen and (max-width: 1000px) {
    section.learning article {
      width: 100%;
      margin: 3em 0; } }
  section.learning > p {
    text-align: center;
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 4em; }
  section.learning a {
    position: absolute;
    bottom: 5em;
    left: 35%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin-top: 1em;
    font-size: 1.2rem;
    line-height: 3;
    padding: 0 2.5em;
    color: #FFFFFF;
    background-color: #21abc7;
    border: 1px solid #1C91A8;
    border-radius: 100px;
    font-family: "Open sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    transition: 0.2s ease-in-out; }
    section.learning a:hover {
      background-color: #1C91A8; }
  section.learning img {
    height: 40%;
    width: auto;
    border: 5px solid white;
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-70px);
    -webkit-transform: translateY(-70px); }

/* cv codeschool
 *
 * /sass/components/_work.scss - Work section specific styles
 *
 * by Lugash!
 * created at 02/2016
 */
section.work {
  background-color: #FFFFFF;
  font-size: 1.6rem;
  position: relative;
  clear: both; }
  section.work h2 {
    text-align: center;
    padding: 2em;
    font-weight: lighter; }
  section.work article {
    position: relative;
    float: left;
    padding: 2em;
    width: 50%;
    clear: both;
    font-weight: lighter; }
    section.work article:nth-child(2n) {
      float: left;
      padding-right: 2em;
      border-right: 1px solid #575a5b;
      margin-left: 1px; }
      section.work article:nth-child(2n)::before {
        position: absolute;
        top: 20px;
        right: -45px;
        content: url("../img/work2.svg");
        border: 5px solid white;
        border-radius: 100%;
        transform: scale(0.4);
        -webkit-transform: scale(0.4); }
    section.work article:nth-child(2n+1) {
      float: right;
      text-align: right;
      padding-left: 2em;
      border-left: 1px solid #575a5b; }
      section.work article:nth-child(2n+1)::before {
        position: absolute;
        top: 20px;
        left: -45px;
        content: url("../img/work1.svg");
        border: 5px solid white;
        border-radius: 100%;
        transform: scale(0.4);
        -webkit-transform: scale(0.4); }
    section.work article:last-child {
      margin-bottom: 1em; }
  section.work h3 {
    margin: 0 auto 1rem;
    font: bold 2rem "Open sans", Helvetica, Arial, sans-serif;
    color: #575a5b; }
  section.work p {
    font-size: 1.7rem;
    font-weight: lighter; }
  section.work a {
    clear: both;
    color: #21abc7;
    display: block;
    text-align: center;
    width: 15%;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 auto 5em;
    padding: 0.8em 1.5em;
    background-color: transparent;
    border: 1px solid #1C91A8;
    border-radius: 100px;
    -webkit-transition: 0.2s ease-in-out; }
    section.work a:hover {
      background-color: #1C91A8;
      color: #FFFFFF; }

.new {
  font-weight: bold;
  text-transform: uppercase; }

/* cv codeschool
  *
  * /sass/components/_me.scss - Identity section specific styles
  * by Lugash!
  * created at 02/2016
  */
section.skills {
  background-color: #F6F8F8;
  margin: 0 auto;
  font-size: 1.6rem;
  position: relative;
  float: left;
  clear: both; }
  section.skills > h2 {
    text-align: center;
    margin: 1em;
    font-weight: lighter; }
  section.skills .allSkills {
    padding: 0 2%; }
  section.skills article {
    display: inline-block;
    vertical-align: top;
    margin: 1em;
    padding: 1em;
    width: 21%;
    position: relative; }
    section.skills article h3 {
      margin-bottom: .5em; }
  @media screen and (max-width: 935px) {
    section.skills article {
      width: 40%; } }
  @media screen and (max-width: 400px) {
    section.skills article {
      width: 30%; } }
  section.skills p {
    font-size: 1.5rem;
    font-weight: lighter; }
  section.skills a {
    clear: both;
    color: #21abc7;
    display: block;
    text-align: center;
    width: 15%;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 auto 5em;
    padding: 0.8em 1.5em;
    background-color: transparent;
    border: 1px solid #1C91A8;
    border-radius: 100px;
    -webkit-transition: 0.2s ease-in-out; }
    section.skills a:hover {
      background-color: #1C91A8;
      color: #FFFFFF; }

/* cv codeschool
 *
 * /sass/components/_language.scss - Language section specific styles
 *
 * by Lugash!
 * created at 02/2016
 */
section.language {
  margin: 0 auto;
  clear: both; }
  section.language article {
    margin: 0 auto;
    margin-left: -3px;
    padding-top: 10em;
    text-align: center;
    width: 25%;
    min-height: 350px;
    vertical-align: top;
    display: inline-block; }
    section.language article.french, section.language article.english {
      background: linear-gradient(to bottom, #F5882F, #b55609); }
    section.language article.italian, section.language article.dutch {
      background: linear-gradient(to bottom, #24A9C7, #187286); }
    section.language article h3 {
      margin: 0 auto 4rem;
      font: lighter 4rem "Open sans", Helvetica, Arial, sans-serif;
      color: #FFFFFF; }
  @media screen and (max-width: 750px) {
    section.language article {
      width: 50%; } }
  section.language a {
    color: #FFFFFF;
    display: block;
    text-align: center;
    width: 70%;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 auto;
    padding: 0.8em 1.5em;
    background-color: #ffae1c;
    border: 1px solid #F79F00;
    border-radius: 100px;
    -webkit-transition: 0.2s ease-in-out; }
    section.language a:hover {
      background-color: #F79F00; }
  section.language article:nth-child(2n+1) a {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    -webkit-transition: 0.2s ease-in-out; }
    section.language article:nth-child(2n+1) a:hover {
      background-color: #1C91A8; }
  section.language span {
    font-size: 1.5rem; }

/* sass-intro
 *
 * /sass/components/_footer.scss - Footer specific styles
 * by Lugash!
 * created at 04/02/2016
 */
footer {
  background-color: #2D3033;
  color: #748e95;
  padding: 0 5em;
  padding-top: 1.5em;
  padding-bottom: 6em; }
  footer h2 {
    display: none; }
  footer ul {
    list-style: none;
    padding: 4rem 0;
    display: inline-block; }
    footer ul li {
      width: 25%;
      font-size: 1.4rem;
      margin: 1em; }
      footer ul li:first-child {
        text-decoration: underline; }
    footer ul + ul {
      border-right: 1px solid #748e95; }
    footer ul .footer__list {
      vertical-align: top; }
  footer p {
    margin-top: 1em;
    font-size: 1.3rem; }
  footer > a {
    padding: 3em;
    margin-left: 1em;
    position: relative; }
    footer > a::before {
      position: absolute;
      left: 0;
      top: 0;
      content: url(../img/fav.ico); }
  @media screen and (max-width: 420px) {
    footer > a img {
      width: 80%; } }
  footer a {
    color: #748e95; }
    footer a:hover {
      color: #FFFFFF; }

/*# sourceMappingURL=styles.css.map */