 /* cv codeschool
  *
  * /sass/settings/_colors.scss - Global color variables
  * by Lugash!
  * created at 23/02/2016
  */


$backgroundColor: #FFFFFF;
$backgroundColor2: #F6F8F8;

$textColor: #575a5b;
$headerColor: #aebdc1;

$linkColor: #aebdc1;
$linkHoverColor: #167385;

$buttonLinkColor: #21abc7;
$buttonLinkHoverColor: #1C91A8;

$footerColor: #2D3033;
$footerTextColor: #aebdc1;

$gradientColor: #616db3;
$gradientColor1: #24A9C7;
$gradientColor2: #F5882F;

$linkColor2: #ffae1c;
$linkColor2Hover: #F79F00;

$shadow: rgba(0,0,0,0.2);

$green: #388745;
