/* sass-intro
 *
 * /sass/components/_footer.scss - Footer specific styles
 * by Lugash!
 * created at 04/02/2016
 */

footer {
    background-color: $footerColor;
    color: darken($footerTextColor, 20);

    padding: 0 5em;
    padding-top: 1.5em;
    padding-bottom: 6em;
    h2 {
        display: none;
    }
    ul {
        list-style: none;
        padding: 4rem 0;
        display: inline-block;
        li {
            width: 25%;
            font-size: 1.4rem;
            margin: 1em;
            &:first-child {
                text-decoration: underline;
            }
        }
        &+ul {
            border-right: 1px solid darken($footerTextColor, 20);
        }
        .footer__list {
            vertical-align: top;
        }
    }
    p {
        margin-top: 1em;
        font-size: 1.3rem;
    }
    >a {
        padding: 3em;
        margin-left: 1em;
        position: relative;
        &::before {
            position: absolute;
            left: 0;
            top: 0;
            content: url(../img/fav.ico);
        }
    }
    @media screen and (max-width: 420px) {
        >a img {
            width: 80%;
        }
    }
    a {
        color: darken($footerTextColor, 20);
        &:hover {
            color: $backgroundColor;
        }
    }
}
