 /* cv codeschool
  *
  * /sass/components/_header.scss - Header specific styles
  * by Lugash!
  * created at 02/2016
  */

header {
    // min-width: 780px;
    height: 5em;
    margin-right: 2em;
    background: $backgroundColor;
    nav ul {
        float: right;
        margin-top: 1em;
        li{
            display: inline-block;
        }
    }
    img{
        width: 150px;
        margin-left: 2.5em;
        margin-top: .2em;
        padding-left: 5%;
    }
    a {
        font: normal 1.7rem $headerFont;
        color: $headerColor;
        display: inline-block;
        margin: 0 0.6em;
        position: relative;
        &.logo::before {
            position: absolute;
            left: 15px;
            top: 8px;
            content: url(../img/fav.ico);
        }
    }
    @media screen and (max-width: 500px) {
        a {
            margin: 0 .2em;
        }
    }
    #account {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 2;
        padding: 0 2em;
        background-color: rgba(0,0,0,0);
        border: 1px solid $green;
        border-radius: 100px;
        -webkit-transition: 0.2s ease-in-out;
        &:hover, &:focus {
            background-color: $green;
            color: $backgroundColor;
        }
    }
}
@media screen and (max-width: 700px) {
    header {
        height: 10em;
        margin-right: 0;
    }
}
