 /* cv codeschool
  *
  * /sass/components/_learning.scss - Learning section specific styles
  *
  * by Lugash!
  * created at 02/2016
  */

section.learning {
    background-color: $backgroundColor2;
    padding: 2em;
    font-size: 1.5rem;
    position: relative;
    float: left;
    clear: both;
    h2 {
        text-align: center;
        margin: 1em;
        font-weight: lighter;
    }
    article {
        position: relative;
        background-color: $backgroundColor;

        float: left;
        margin: 2em 1.5%;
        padding: 2em 1em;
        text-align: center;
        width: 30%;
        min-width: 250px;
        height: 22em;
        box-shadow: 1px 1px 5px $shadow;
        border-radius: $borderRadius;

        h3 {
            margin: 0 auto 2rem;
            font: lighter 2rem $textFont;
            color: $buttonLinkColor;


            transform: translateY(-70px);
            -webkit-transform: translateY(-70px);
        }

        >p {
            font-weight: lighter;
            font-size: 1.7rem;
            transform: translateY(-70px);
            -webkit-transform: translateY(-70px);
        }
        .year {
            position: absolute;
            bottom: -5rem;
            left: 2em;

            font: normal 1.7rem $textFont;
            color: $buttonLinkColor;
            border-top: 1px solid rgba($linkColor, 0.5);
        }
    }
    @media screen and (max-width: 1000px) {
    article {
        width: 100%;
        margin: 3em 0;
    }
}


    >p {
        text-align: center;
        padding: 0 2rem;
        font-size: 1.5rem;
        font-weight: lighter;

        margin-bottom: 4em;

    }
    a {
        position: absolute;
        bottom: 5em;
        left: 35%;

        cursor: pointer;
        display: inline-block;
        text-align: center;
        margin-top: 1em;
        font-size: 1.2rem;
        line-height: 3;
        padding: 0 2.5em;
        color: $backgroundColor;
        background-color: $buttonLinkColor;
        border: 1px solid $buttonLinkHoverColor;
        border-radius: 100px;
        font-family: $textFont;
        font-weight: 600;
        transition: 0.2s ease-in-out;
        &:hover, &:focus {
            background-color: $buttonLinkHoverColor;
        }
    }
    // span.new {
    //     color: $buttonLinkHoverColor;
    //     font-size: 1.5rem;
    //     position: absolute;
    //     bottom: 2em;
    //     left: 45%;
    // }
    img {
        height: 40%;
        width: auto;
        border: 5px solid white;
        border-radius: 100%;
        box-shadow: 1px 1px 5px $shadow;

        transform: translateY(-70px);
        -webkit-transform: translateY(-70px);
    }
}
