 /* cv codeschool
  *
  * /sass/components/_me.scss - Identity section specific styles
  * by leny@flatLand!
  * by Lugash!
  * created at 23/02/2016
  */

 section.skills {
     background-color: $backgroundColor2;
     font-size: 1.6rem;
     position: relative;
     float: left;
     clear: both;
     >h2 {
         text-align: center;
         margin: 1em;
         font-weight: lighter;
     }
     article {
         float: left;
         margin: 1em;
         padding: 1em;
         width: 20%;
         position: relative;
         h1 {
             &::after {
                position: absolute;
                content: "!";
             }
         }
     }
     p {
         font-size: 1.5rem;
         font-weight: lighter;
     }
     a {
        clear: both;
        color: $buttonLinkColor;
        display: block;
        text-align: center;
        width: 15%;
        font-size: 1.3rem;
        font-weight: bold;
        margin: 0 auto 5em;;
        padding: 0.8em 1.5em;
        background-color: rgba(0,0,0,0);
        border: 1px solid $buttonLinkHoverColor;
        border-radius: 100px;
        -webkit-transition: 0.2s ease-in-out;
        &:hover {
            background-color: $buttonLinkHoverColor;
            color: $backgroundColor;
        }
     }
 }
