 /* cv codeschool
  *
  * /sass/components/_me.scss - Identity section specific styles
  * by Lugash!
  * created at 02/2016
  */

 section.skills {
     background-color: $backgroundColor2;
     margin: 0 auto;
     font-size: 1.6rem;
     position: relative;
     float: left;
     clear: both;
     >h2 {
         text-align: center;
         margin: 1em;
         font-weight: lighter;
     }
     .allSkills {
         padding: 0 2%;
     }
     article {
         display: inline-block;
         vertical-align: top;
         margin: 1em;
         padding: 1em;
         width: 21%;
         position: relative;
         h3 {
             margin-bottom: .5em;
            //  &::before {
            //      position: relative;
            //      top:50px;
            //      content: ".";
            //  }
         }
     }
     @media screen and (max-width: 935px) {
         article {
             width: 40%;
         }
     }
     @media screen and (max-width: 400px) {
         article {
             width: 30%;
         }
     }

     p {
         font-size: 1.5rem;
         font-weight: lighter;
     }
     a {
        clear: both;
        color: $buttonLinkColor;
        display: block;
        text-align: center;
        width: 15%;
        font-size: 1.3rem;
        font-weight: bold;
        margin: 0 auto 5em;;
        padding: 0.8em 1.5em;
        background-color: rgba(0,0,0,0);
        border: 1px solid $buttonLinkHoverColor;
        border-radius: 100px;
        -webkit-transition: 0.2s ease-in-out;
        &:hover, &:focus {
            background-color: $buttonLinkHoverColor;
            color: $backgroundColor;
        }
     }
 }
