/* cv codeschool
 *
 * /sass/components/_work.scss - Work section specific styles
 *
 * by Lugash!
 * created at 02/2016
 */

section.work {
    background-color: $backgroundColor;
    font-size: 1.6rem;
    position: relative;
    clear: both;
    h2 {
        text-align: center;
        padding:  2em;
        font-weight: lighter;
    }
    article {
        position: relative;
        float: left;
        padding: 2em;
        width: 50%;
        clear: both;
        font-weight: lighter;
        &:nth-child(2n) {
            float: left;
            text-align: right;
            padding-right: 3em;
            border-right: 1px solid $textColor;
            margin-left: 1px;
            // regler le pixel erreur
            &::before {
                position: absolute;
                top: 20px;
                right: -45px;
                content: url('../img/work2.svg');
                border: 5px solid white;

                transform: scale(.6);
                -webkit-transform: scale(.6);
            }
        }
        &:nth-child(2n+1) {
            float: right;
            text-align: left;
            padding-left: 3em;
            border-left: 1px solid $textColor;
            &::before {
                position: absolute;
                top: 20px;
                left: -45px;
                content: url('../img/work1.svg');
                border: 5px solid white;

                transform: scale(.6);
                -webkit-transform: scale(.6);
            }
        }
        &:last-child {
            margin-bottom: 1em;
        }
    }
    h3 {
        margin: 0 auto 1rem;
        font: bold 2rem $headerFont;
        color: $textColor;
    }
    p {
        font-size: 1.7rem;
        font-weight: lighter;
    }
    a {
       clear: both;
       color: $buttonLinkColor;
       display: block;
       text-align: center;
       width: 15%;
       font-size: 1.3rem;
       font-weight: bold;
       margin: 0 auto 5em;
       padding: 0.8em 1.5em;
       background-color: rgba(0,0,0,0);
       border: 1px solid $buttonLinkHoverColor;
       border-radius: 100px;
       -webkit-transition: 0.2s ease-in-out;
       &:hover, &:focus {
           background-color: $buttonLinkHoverColor;
           color: $backgroundColor;
       }
    }
}

.new {
    font-weight: bold;
    text-transform: uppercase;
}
